table {
    width: 100%;
    margin: auto;
  }
  
  .mat-elevation-z8{
    width: 80%;
    margin: auto
  }
.mat-column-action {
    width: 350px;
    text-align: right;
}
.mat-column-name{
  width: 10%;
  padding-right: 5%;
}

.mat-column-lastName{
    width: 20%;
    padding-right: 5%;
}
.mat-column-ci{
    width: 10%;
    padding-right: 5%;
}
.mat-column-address{
  width: 20%;
  padding-right: 5%;
}
.mat-column-phone{
    width: 10%;
    padding-right: 5%;
}
.priceheadercontainer{
  align-self: center;
}
.cell-price-{
  width: 60;
}

.mat-form-field {
    margin-left: 10%;
    font-size: 14px; 
    width: 80%;
}

.addbutton{
  background-color:darkblue;
  margin-right: 10%;
  color: #f2f6f8;
  width:150px;
}

td.mat-cell:first-child, td.mat-footer-cell:first-child, th.mat-header-cell:first-child {
  padding-left: 10px;
  text-align: center;
}

td.mat-cell:last-child, td.mat-footer-cell:last-child, th.mat-header-cell:last-child {
  padding-right: 24px;
  text-align: center;
}

.editdeletebutton {
  background-color: darkblue;
  margin-left: 10px;
  color: #f2f6f8;
}
